@charset "UTF-8";
/*共通部分
-----------------*/
body {
  font-family: メイリオ, Hiragino Sans; /**フォント変えました**/
  margin: 0;
}

.black_border {
  margin: 0;
  border: none;
  border-bottom: 4px dashed #0c0c0c;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

/*HEADER
-----------------*/
.header {
  display: grid;
}

.header-title {
  /**nav verの左上 Craftman Story**/
  font-weight: bold;
  color: #fff;
  filter: drop-shadow(10px 10px 5px #003366);
}

.page-title1 {
  color: #fff;
  filter: drop-shadow(10px 10px 5px #003366);
  margin: 0px;
  animation-name: titleAnime;
  animation-fill-mode: backwards;
  animation-duration: 3s;
  count: infinite;
  animation-timing-function: ease;
  animation-delay: 0.3s;
  animation-direction: normal;
}
@keyframes titleAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page-title2 {
  color: #fff;
  filter: drop-shadow(10px 10px 5px #003366);
  margin: 0px;
  animation-name: titleAnime;
  animation-fill-mode: backwards;
  animation-duration: 3s;
  count: infinite;
  animation-timing-function: ease;
  animation-delay: 0.9s;
  animation-direction: normal;
}

.logo {
  width: 300px;
  margin-top: 0px;
}

.main-nav {
  display: flex;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 30px;
  list-style: none;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 30px;
  padding-left: 0;
}
.lang {
  border-bottom: 1.5px solid;
}

.lanlang:hover {
  .lang {
    border-bottom: none;
  }
  .un-lang {
    border-bottom: 1.5px solid;
  }
}

.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #363d46;
}

.headline {
  white-space: nowrap;
  height: 15vh;
  justify-self: start;
  display: flex;
  align-items: center;
}

.headaaa {
  padding: 10px;
  width: calc(100% - 20px);
  height: 15vh;
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 10px;
}

.headbbb {
  justify-self: start;
  display: flex;
  gap: 10px;
}

.logologo {
  max-height: 15vh;
}

.logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  height: 15vh;
  justify-self: end;
  justify-content: end;
  align-items: center;
}

/**下向き矢印のやつ**/
.scroll_down {
  position: absolute;
  bottom: 20%;
  right: 0;
  left: 0;
  margin: 0 auto;
  animation-name: moving-up-down;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.scroll_down_arrow {
  rotate: -45deg;
  aspect-ratio: 1/1;
  border-bottom: solid 3px white;
  border-left: solid 3px white;
  width: 5%;
  margin: 0 auto;
}

.scroll_down_msg {
  color: white;
  font-weight: bold;
  margin-top: 60px;
  text-align: center;
}

.scroll_down_anim {
  animation-name: titleAnime;
  animation-fill-mode: backwards;
  animation-duration: 3s;
  count: infinite;
  animation-timing-function: ease;
  animation-delay: 1.5s;
  animation-direction: normal;
}

@keyframes moving-up-down {
  0% {
    transform: translateY(30px);
    transition: all 0.5s;
  }
  100% {
    transform: translateY(-30px);
    transition: all 0.5s;
  }
}

/*大きな画像*/
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home {
  background-color: grey;
  min-height: 100vh;
  background-blend-mode: multiply;
  width: 100%;
  position: relative;
}

#home .page-title {
  text-transform: none;
}

/*HOME
-----------------*/
.home-content {
  margin-top: 15%;
  min-height: 400px;
}

.home-content p {
  margin: 10px 0 42px;
}

/* headder-content
-----------------*/

.introduction-website {
  margin: 0;
  margin-top: 30px;
}
.introduction-website h3 {
  color: #003366;
}

.introduction-content {
  margin: 30px;
}

.border {
  /**各見出しのところ**/
  display: center;
  text-align: center;
  font-size: 2rem;
  color: #003366;
  margin-top: 30px;
  border-bottom: 4px dotted #009bc6;
  font-weight: bold;
}

/*article content1
-----------------*/

.article-intro {
  /**craftman storyの各ページ一覧のところの見出し**/
  color: #003366;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.item h4 {
  color: #363d46;
}

.img-background {
  background-image: url("background.png");
  background-repeat: no-repeat;
}

/*what's new */
.new-badge {
  /**new! バッジ**/
  color: white;
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.what_new_box {
  /**1つ1つの新着情報ボックス**/
  margin-right: 30px;
  margin-left: 30px;
  border: solid 1px rgb(159, 159, 159);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  background-color: rgb(248, 248, 248);
  position: relative;
  z-index: 0;
  transition: all 0.6s;
}

.what_new_box_anim {
  /*新着情報ボックスの伸びてくる部分*/
  z-index: -100;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: all 0.6s;
}

.what_new_box_main {
  z-index: 100;
  transition: all 0.6s;
}

.observed {
  /*伸びてくる仕掛け*/
  border-radius: 0px 10px 10px 0px;
  width: 100%;
}

.non_observed {
  /*伸びてくる仕掛け*/
  width: 0;
}

.observed2 {
  /*伸びてくる仕掛け*/
  color: white;
}

.non_observed2 {
  /*伸びてくる仕掛け*/
  color: black;
}

.observed3 {
  /*少し↑にあがる仕掛け*/
  transform: translateY(-5px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.what_new_box:hover {
  /*hover時にも伸びてくる*/
  transform: translateY(-5px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  .what_new_box_anim {
    border-radius: 0px 10px 10px 0px;
    width: 100%;
  }
  .what_new_box_main {
    color: white;
  }
}

/** Craftman Storyの記事一覧のところ
------**/
/*枠線があらわれるanimation*/
.liner {
  display: flex;
  position: relative;
  margin-top: 30px;
}

/*枠線があらわれるanimation*/
.liner1 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 2px;
  background-color: #003366;
  transition: all 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
}

/*枠線があらわれるanimation*/
.liner2 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 2px;
  background-color: #003366;
  transition: all 0.5s;
  transition-delay: 1s;
}

/*枠線があらわれるanimation*/
.liner3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 2px;
  background-color: #003366;
  transition: all 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
}

/*枠線があらわれるanimation*/
.liner4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 2px;
  background-color: #003366;
  transition: all 0.5s;
  transition-delay: 1s;
}

.liner5 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 2px;
  background-color: #003366;
  transition: all 0.5s;
  transition-timing-function: linear;
}

.liner6 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 2px;
  background-color: #003366;
  transition: all 0.5s;
  transition-timing-function: linear;
}

/*枠線があらわれるanimation*/
.horizontal_observed {
  width: 100%;
}

/*枠線があらわれるanimation*/
.horizontal_non_observed {
  width: 0;
}

/*枠線があらわれるanimation*/
.vertical_observed {
  height: 100%;
}

/*枠線があらわれるanimation*/
.vertical_non_observed {
  height: 0;
}

.cs_card {
  /**記事1つ1つのボックス**/
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 1px #363d46;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  border-right: solid 10px red;
  transition: all 0.6s;
}

.cs_card_main {
  padding: 20px;
  z-index: 100;
  transition: all 0.6s;
}

.cs_card_back {
  background-color: rgb(244, 244, 244);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -200;
}

.cs_card_anim {
  /**右から伸びてくる仕掛け**/
  position: absolute;
  right: 0;
  left: 100%;
  top: 0;
  bottom: 0;
  z-index: -100;
  transition: all 0.6s;
}

.observed4 {
  /**右から伸びてくる仕掛け**/
  left: 0;
}

.cs_card:hover {
  /**hover時も右から伸びてくる**/
  transform: translateY(-5px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  .cs_card_anim {
    left: 0;
  }
  .cs_card_main {
    color: white;
  }
}

/* Craftman Storyとは?
-----------------*/

.grid2_left {
  /**大田区の町工場のところ**/
  display: flex;
  width: fit-content;
  height: 60px;
  border-radius: 10px;
  align-items: center;
  background-color: #ebc1c1;
  border: #640a0a solid 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  align-self: end;
}

.grid2_right {
  /**東京理科大国際デザイン経営学科デジタル部のところ**/
  display: flex;
  width: fit-content;
  height: 60px;
  border-radius: 10px;
  align-items: center;
  background-color: #bfdcef;
  border: #008cff solid 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
}

/*grid */
.grid3 {
  /**2段組、スマホの時は1段になる**/
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.grid2 {
  /**大田区の町工場x東京理科大国際デザイン経営学科デジタル部のところ**/
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 3fr;
}

/*フッター
-----------------*/

footer {
  background: #003366;
  text-align: center;
  margin-top: 50px;
  color: white;
  padding-top: 30px;
}

.footer_link {
  text-decoration: none;
  color: rgb(185, 184, 197);
}

.special_thanks {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  border: solid 1px #0c0c0c;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

/*========= レイアウトのためのCSS ===============*/

@media (max-width: 1025px) {
  .scroll_down_arrow {
    width: 20%;
  }
}

@media (max-width: 450px) {
  .grid3 {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .grid2 {
    grid-template-columns: 1fr;
  }

  .scroll_down_msg {
    margin-top: 30px;
  }

  .headline {
    margin-left: 0;
  }

  .headaaa {
    grid-template-columns: 1fr;
  }

  .headbbb {
    gap: 0;
  }

  .logos {
    height: 5vh;
  }

  .logologo {
    display: none;
  }

  .title2 {
    font-size: 1.8em;
  }
}
