html{
    font-size:100%;
}
body{
    font-family:"游ゴシック Medium";
    line-height:1.7;
    color:rgb(82, 81, 81);
    font-weight: 200;
}

.article-title{
    text-align: center;
    margin:5% 20%;
}
.article-IDM{
    color: #003366;
    margin-top: 20%;
    font-size: 32px;
    border-style: solid;
    border-color:#009bc6;
}
.title{
    color: rgb(82, 81, 81);
    font-size:32px;
    text-align: left;
}
.title-content{
    color: rgb(82, 81, 81);
    text-align: left;
    font-size: 18px;
    margin-left: 10%;
    margin-right:15%;
}
.article-content{
    font-size: 20px;
    margin-left: 15%;
    margin-right:15%;
    background-color: rgb(240, 252, 255);
}
.article-date{
    font-size:15px;
    color:rgba(0, 0, 0, 0.484);
    text-align: left;
}

.article-img{
    width:500;
    height:300;
}


/*writer*/

.article-writer{
    margin:15% 20%;
}
.writer{
    color: #003366;
    border-bottom: double;
    border-color: #009bc6;
}
.writer1{
    border-bottom:solid;
    border-width: 0.5px;
    border-color: #003366;
}
.intro-writer{
    font-size: 32px;
    color:#003366;
    margin-right: 10px;
}
.group-writer{
    font-size:24px;
    color:rgb(128, 128, 128)
}
.writer-name{
    font-size:20px;
    font-weight: 300;
}

p{
    margin:1px auto;
  }