.box-area{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:3% 10%;
}
.box{
    display:flex;
    margin:3%;
    border: outset #8ec6ff 4px;
    gap:10px;
    height:150px;
}
.box-img{
    margin-left: 0;
    width:30%;
}
.box-text{
    width:70%;
    color:rgba(0, 0, 0, 0.749)
}
.box-text h2{
    border-bottom: solid #8ec6ff;
    display: inline-block;
    margin-bottom: 5px;
}






