{% extends "layout.html" %} {% block title %} Craftman Story {% endblock %} {%
block home_content %} {% endblock %}{% block main_content %}
<!--/#home -->

<h1 id="title1-404" style="text-align: center">404</h1>
<h1 class="title2-404" style="text-align: center">Page Not Found</h1>
<h1 style="text-align: center">
  Please Access <a href="https://craftman-story.com/">HOME</a>
</h1>
<p class="title1-404-ja" style="text-align: center; font-size: larger">
  ページが見つかりません。
</p>
<p class="title2-404-ja" style="text-align: center; font-size: larger">
  <a href="https://craftman-story.com">HOME</a>にアクセスしてください。
</p>
{% endblock %}
