{% extends "layout.html" %} {% block title %} Craftman Story お知らせ -Meet New
Solution in OTA イベント予告 {% endblock %} {% block home_photo %}{{
url_for('static', filename='announce1.webp') }}{% endblock %} {% block
home_content %}
<h1 class="page-title1"><u>お知らせ</u></h1>
<h1 class="page-title2">Meet New Solution in OTA イベント予告</h1>
{% endblock %}{% block main_content %}

<div class="article-title">
  <div class="title-page"><h2 class="title"></h2></div>
  <p class="article-date">最終更新日 2025.01.24</p>
  <p class="title-content">　こんにちは！</p>
  <p class="title-content">
    　この度、Craftman Story部が2月7日に大田区で開催される<strong
      >Meet New Solution in OTA</strong
    >というイベントに参加させて頂くことになりました！ ここではCraftman
    Story部のイベント内容をお知らせします。
  </p>
</div>
<div class="article-content2">
  <div class="display">
    <div class="dis-p">
      <p class="title-content" style="margin-bottom: 0">
        Meet New Solution in OTA 開催概要
      </p>
      <p class="title-content" style="margin: 0">
        <strong>開催日時</strong>: 2025年2月7日 (金)　10:00～17:00
      </p>
      <p class="title-content" style="margin: 0">
        <strong>会場</strong>: 大田区産業プラザPiO
      </p>
      <p class="title-content" style="margin-bottom: 0">
        Meet New Solution in OTAのイベント詳細はこちらです
      </p>
      <a href="https://ota-tech.biz/2025/"
        ><p class="title-content" style="margin-top: 0">
          https://ota-tech.biz/2025/
        </p></a
      >
    </div>
    <div class="dis-img" style="text-align: center">
      <img
        src="{{ url_for('static', filename='announce2.webp') }}"
        width="60%"
        style="margin-top: 10px"
      />
    </div>
  </div>

  <br />
  <p class="title-content">Craftman Story部のイベント内容</p>
  <ol
    style="
      font-weight: bold;
      text-align: left;
      font-size: 20px;
      margin: 5px;
      color: #003366;
    "
  >
    <li>ステージ講演/ピッチイベント</li>
    <li>出展</li>
  </ol>

  <div class="stage" style="font-size: 17px; margin-top: 20px">
    <h3 class="border">ステージ講演/ピッチイベント</h3>

    <p class="title-content">
      <strong style="font-size: 20px">講演時間</strong> 11:00～11:30
    </p>
    <p class="title-content" style="margin-bottom: 0">
      <strong style="font-size: 20px">講演内容</strong>
    </p>
    <p class="title-content" style="margin-top: 0">
      東京理科大学経営学部国際デザイン経営学科(通称IDM)の紹介、Craftman
      Story部の紹介、大喜利(IDM授業紹介)、大田区町工場についてのクイズ
    </p>
    <p class="title-content">
      会場の皆様と一緒に楽しめるイベントを予定しています。多くの方のご参加をお待ちしております。
    </p>

    <h3 class="border">出展</h3>
    <div class="display">
      <div class="dis-img">
        <p class="title-content">
          <strong style="font-size: 20px">出展場所</strong>
          2階小展示ホール出入口付近
        </p>
        <p class="title-content" style="margin-bottom: 0">
          <strong style="font-size: 20px">出展内容</strong> Craftman
          Story部の活動紹介、
        </p>
        <p class="title-content" style="margin-top: 0">
          取材させて頂ける工場募集
        </p>

        <p class="title-content">
          出展場所では町工場の方々と交流をさせて頂けると嬉しいです。
          また、こちらではCraftman
          Story部が取材をさせて頂ける工場を募集しています。取材を許可して下さる工場の方は出展場所にいる学生に声をかけて頂きたいです。
          よろしくお願いします。
        </p>
      </div>
      <div class="dis-img" style="margin-top: 30px; text-align: center">
        <img
          src="{{ url_for('static',filename='announce3.webp')}}"
          width="60%"
        />
      </div>
    </div>
    <div class="l-wrapper_01_base">
      <div
        class="l-wrapper_01"
        style="background-color: rgb(206, 229, 255); border: 3px solid #003366"
      >
        <div style="display: flex; justify-content: center">
          <h2 class="mini_index2 h2_text">Craftman Story 学生取材のお願い</h2>
          <h3 class="mini_index2 h3_text">Craftman Story 学生取材のお願い</h3>
        </div>

        <div style="display: flex; justify-content: center">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLScp8JpYtICnwNZJiMy_4KA1bwddmmr-zt9xMKH3LHvMTSxPtw/viewform"
            target="_blank"
            class="button_01 -compact1"
            >フォームはこちら</a
          >
        </div>
        <h3 style="text-align: center">↑↑↑ 記入お願いします。</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
