{% extends "layout_en.html" %} {% block title %} Craftman Story Vol.1 -Iwai
Factory {% endblock %} {% block home_photo %}{{ url_for('static',
filename='01iwai_01.webp') }}{% endblock %} {% block home_content %}
<h1 class="page-title1"><u>Vol.1</u></h1>
<h1 class="page-title2">Iwai Factory</h1>
{% endblock %}{% block main_content %}
<div class="article-title">
  <div class="title-page"><h2 class="title"></h2></div>
  <p class="article-date">The day of interviewing 10.31/07.30.2024</p>
  <p class="article-date">Last update 12.11.2024</p>
  <p class="title-content">　Hello!</p>
  <p class="title-content">
    　This is Craftman Story Vol. 1. We interviewed Iwai Factory. At this
    interview, we watched the work od Mr.Iwai and heard about his past works.
  </p>
</div>
<div class="img-background">
  <h3 class="border">The overview of Iwai Factory</h3>
  <div class="grid4">
    <p>
      　When we walk for five minutes from Keikyu-Kamata Station, we can see an
      old factory on a narrow residential street. This is the
      <strong>Iwai Factory</strong>. The Iwai Factory has been in operation
      since the prewar period. Mr. Iwai, whom we interviewed, took over the
      factory from his parents and has been doing lathe machining work alone for
      more than 50 years. He has completed the work of processing parts for
      nuclear power plants and the Tokaido bullet train. Now, he is processing
      parts for hydraulic plants.
    </p>
    <img
      src="{{ url_for('static', filename='01iwai_02.webp') }}"
      width="100%"
    />
  </div>
</div>
<div class="img-background">
  <h3 class="border">Surprising points for the interviewing team!</h3>
  <div class="article-content2" style="text-align: left">
    <p>We have four surprising points at the interview of Iwai Factory.</p>
    <ol style="font-weight: bold">
      <a href="#factory"><li>Well used factory and lathe</li></a>
      <a href="#senban"><li>The great job of lathe machining</li></a>
      <a href="#tech"
        ><li>Mr.Iwai's high skill and works of lathe machining</li></a
      >
      <a href="#hitori"><li>Why does Mr.Iwai run the factory alone?</li></a>
    </ol>
  </div>
</div>
<div class="img-background" id="factory">
  <h3 class="border">Well used factory and lathe</h3>
  <div class="grid4">
    <div class="grid3">
      <img
        src="{{ url_for('static', filename='01iwai_03.webp') }}"
        width="100%"
      />
      <img
        src="{{ url_for('static', filename='01iwai_04.webp') }}"
        width="100%"
      />
    </div>
    <div>
      <p style="margin: 0">
        　First, we were surprised by
        <strong>the small space of the factory</strong>. The Iwai Factory is an
        isolated two-storey house that includes the Iwai family's home. He works
        in a room near the entrance. In this room, various kinds of machines and
        tools take up space, so there is only a small area where three or four
        students can barely fit.
      </p>
      <p class="photo_text" style="margin-top: 10px">
        photo#1 : The appearance of Iwai Factory
      </p>
      <p class="photo_text" style="margin-top: 10px">
        photo#2 : Inside the factory
      </p>
    </div>
  </div>

  <div class="grid4">
    <img
      src="{{ url_for('static', filename='01iwai_06.webp') }}"
      width="100%"
    />
    <div>
      <p style="margin: 0">
        　<strong>The lathe</strong> takes up space in the back of the room. It
        was manufactured by a company in Okayama and is a third-generation
        machine. It seems to be well-used. On the floor, there is a lot of iron
        scrap generated during lathe machining. These emphasize the imposing
        appearance of the lathe. While we are surprised by the unique atmosphere
        of the room, which smells like machining oil, Mr. Iwai stands in front
        of the lathe and starts to handle it.
      </p>
      <p class="photo_text" style="margin-top: 10px">photo#3 : The lathe</p>
    </div>
  </div>
</div>
<div class="img-background" id="senban">
  <h3 class="border">The great job of lathe machining</h3>
  <p class="article-content2" style="text-align: left">
    　In this interview, Mr.Iwai showed us his work
    <strong>specially for us</strong> that he handled the lathe and processed
    the metal.If you watch the video below, you will feel his work is great, and
    you will be surprised that the hard metal is processed smoothly. We explain
    his work in detail below.
  </p>
  <div class="article-content2">
    <iframe
      width="100%"
      style="aspect-ratio: 659/369"
      src="https://www.youtube.com/embed/2SRzmgP0zA0"
      title="the great job of lathe machining  Vol1 Iwai Factory"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <p class="article-content2" style="text-align: left">
    <span class="photo_text"
      >(The explanation below is same as the movie above.)</span
    >
  </p>
  <div class="grid4">
    <img
      src="{{ url_for('static', filename='01iwai_07.webp') }}"
      width="100%"
    />
    <p style="margin: 0">
      　<strong>Lathe</strong> is a machine that rotates the metal fastly.
      <strong
        >If we put the knife on the metal that rotates fastly, we can process
        the metal.</strong
      >
      The big machine on the photo is the lathe. The metal that we indicate by
      the red square is the one that is processed. In his work, he digs a ditch
      on the metal.
    </p>
    <img
      src="{{ url_for('static', filename='01iwai_12.webp') }}"
      width="100%"
    />
    <div>
      <p style="margin: 0">
        　First, Mr.Iwai adjusts the position that he digs a ditch with the
        meter. Next, he pours the machining oil to slide the metal better. When
        he turns on the power of the lathe, the metal rotates quickly. Then,
        when Mr.Iwai adjusts the position of the knife with the dial,
        <strong>the metal starts to be shaven.</strong> The more he adjusts the
        dial, The deeplier the metal is shaven because the position of the knife
        is changed. the dial, and digs a ditch little by little. He turns off
        the lathe regularly and checks how deep the metal is shaven.
      </p>
      <p>
        　He repeats these processes. This work seems
        <strong>the same monotonous work over and over</strong>. It takes three
        days that he completes to process a metal.
      </p>
    </div>
    <img
      src="{{ url_for('static', filename='01iwai_13.webp') }}"
      width="100%"
    />
    <p style="margin: 0">
      Why doesn't he shave the metal all at once? It seems efficient that he
      shave it all at once, but he shaves it little by little
      <strong>because accuracy is required to his work</strong>. Lathe machining
      is suitable to accurate processes because it rotates the metal fastly, so
      we can shave the metal evenly. The metal, that Mr.Iwai processes in this
      work, is the part of water turbine and we put it with other parts
      acuurately, so accuracy is required to his work.
      <strong
        >On checking how accurately the metal is shaven, the craftsman's skill
        is required.</strong
      >
    </p>
    <img
      src="{{ url_for('static', filename='01iwai_14.webp') }}"
      width="100%"
    />
    <p style="margin: 0">
      The metal on the photo is in the middle of his work. We can find it is
      shaven more deeply than before.
    </p>
  </div>
</div>
<div class="img-background" id="tech">
  <h3 class="border">Mr.Iwai's high skill and works of lathe machining</h3>
  <div class="grid4">
    <img
      src="{{ url_for('static', filename='01iwai_11.webp') }}"
      width="100%"
    />
    <div>
      <ul style="margin: 0">
        <li><strong>Nuclear power plants</strong></li>
        <p>
          　The first big job Mr. Iwai had was
          <strong
            >processing the parts of the cylinders for nuclear power
            plants</strong
          >.
        </p>
        <p>
          　It all started when he was asked, “Would you manufacture nuclear
          power plants with us?” He then tried to manufacture the prototype with
          an old small lathe machine. His prototype was admired, and he started
          to manufacture the parts with a big lathe in earnest. This work was
          pioneering in Japan at that time, so he did it through
          <strong>trial and error</strong>.
        </p>
        <p>
          　The hardest part of this job is processing the control rods in the
          plants. There are about 100 control rods, and we have to handle them
          simultaneously and keep them in the same position when we stop the
          plants. This is because if even one of them is misaligned, the plant
          could overheat. Therefore, <strong>high accuracy</strong> is required
          in this process.
        </p>
        <p>
          Now he do the work to take measures for tsunami, and he has the work
          to heighten the equipments of the plants for 20 meters all around
          Japan.
        </p>
      </ul>
    </div>
  </div>
  <ul class="article-content2">
    <li><strong>Tokaido bullet train</strong></li>
    <p>
      　The high level of technical skill cultivated through work on nuclear
      power plants was recognized, and
      <strong
        >the job of manufacturing cylinder parts for the Tokaido bullet
        train</strong
      >
      also came to Mr.Iwai.
    </p>
    <p>
      　He was involved in the production of cylinders
      <strong>from the 300 series to the 700 series</strong>, playing an
      important role in the operation of the Shinkansen. Particularly during the
      transition from the 500 series to the 700 series,
      <strong>Mr. Iwai's cylinder technology was utilized</strong>, successfully
      reducing the travel time between Tokyo and Osaka by five minutes. This
      time reduction allowed for the addition of seven more trains.
    </p>
    <p>
      　Currently, after completing the production of new cylinders with the 700
      series, he is focusing on the refurbishment of cylinders.
    </p>
  </ul>
  <p class="article-content2" style="text-align: left">
    　These tasks require <strong>extremely high precision</strong>. These
    episodes highlight
    <strong>Mr. Iwai's high level of technical skill</strong> and the fact that
    small town factories support the daily life of Japan.
  </p>
</div>
<div class="img-background" id="hitori">
  <h3 class="border">Why does Mr.Iwai run the factory alone?</h3>
  <div class="article-content2" style="text-align: left">
    <p>
      　Since taking over Iwai Factory, Mr. Iwai has continued to operate it
      <strong>alone</strong>. The reason for this is to prevent the leakage of
      his high level of technical skill. Hiring employees would risk spreading
      information, so to protect the unique technology of Iwai Factory, he has
      continued to work alone without expanding the scale. During his solo
      operations, there were times when people around him suggested he should
      quit. However, <strong>with the encouragement of his wife</strong>, he has
      continued the business to this day.
    </p>
    <p>
      　Although Iwai Factory has been built with the support of the couple, it
      is scheduled to close with Mr. Iwai's generation due to the lack of a
      successor. While he has grandchildren and a son, the younger generation is
      pursuing higher education and shows no interest in work related to nuclear
      reactors. Additionally, as the area around Kamata Station is becoming more
      residential, even if the business were to continue, the factory would need
      to be relocated.
    </p>
    <p>
      　How this technology will be handled by the next generation will be a key
      issue moving forward.
    </p>
  </div>
</div>
<div class="img-background">
  <h3 class="border">Afterword.</h3>
  <div class="article-content2" style="text-align: left">
    <p>
      　Our first interview has come to an end. It took just under two hours,
      but it was <strong>very intense</strong>. The twists and turns leading up
      to encountering the lathe, the behind-the-scenes of the nuclear power
      plant business and bullet train development, and the current and future
      state of the factory. The numerous episodes we heard from Mr.Iwai through
      the interview are the very history of post-war Japan. The events we know
      from textbooks, he witnessed firsthand as a participant. Considering this
      past, we realize that each step of lathe machining involves
      <strong>advanced technology</strong>. Watching him perform tasks where
      even a single mistake is not allowed, we felt
      <strong>an extraordinary craftsman's spirit</strong>.
    </p>
    <p>
      　As we parted, Mr. Iwai said, “You are really young, so you have to
      support Japan in the future.” The words of this
      <strong>“unsung hero”</strong> who has supported our country for half a
      century carried great weight. The small factory on the corner of Kamata is
      filled <strong>with many secrets and romance </strong> built up over many
      years.
    </p>
  </div>
</div>
<div class="img-background">
  <h3 class="border">Member Introduction</h3>
  <div class="box-area">
    <div class="box-parent">
      <div class="box-sentence">
        I am interested in working as a writer and joined this project. I hope
        to convey to you the emotion of my favorite downtown area of Tokyo in
        the form of reporting of a town factory!
      </div>
      <div class="box">
        <div class="box-img2">
          <div class="box-img">
            <img
              src="{{ url_for('static', filename='no_img.webp') }}"
              alt="profile-photo"
              class="writer-box"
              width="100%"
            />
          </div>
        </div>
        <div class="box-text">
          <h3>Ryosuke Noguchi</h3>
          <p>interviewer / writer</p>
        </div>
      </div>
    </div>
    <div class="box-parent">
      <div class="box-sentence">
        I am very interested in the work of a writer who directly interviews
        craftsmen and shapes their voices into written form,so I decided to
        participate. The skills and thoughts of the craftsmen are deeply
        fascinating, and I want to deliver them to a wider audience!
      </div>
      <div class="box">
        <div class="box-img2">
          <div class="box-img">
            <img
              src="{{ url_for('static', filename='yo_img.webp') }}"
              alt="profile-photo"
              class="writer-box"
              width="100%"
            />
          </div>
        </div>
        <div class="box-text">
          <h3>Ayano Yoshinaga</h3>
          <p>interviewer / writer</p>
        </div>
      </div>
    </div>
    <div class="box-parent">
      <div class="box-sentence">
        I love web creating and factory tour. I'll do my best to deliver the
        fascinating craftmen's jobs in town factories in Ota Ward through this
        website!
      </div>
      <div class="box">
        <div class="box-img2">
          <div class="box-img">
            <img
              src="{{ url_for('static', filename='ki_img.webp') }}"
              alt="profile-photo"
              class="writer-box"
              width="100%"
            />
          </div>
        </div>
        <div class="box-text">
          <h3>Tomoya Kinami</h3>
          <p>interviewer / writer / web / video</p>
        </div>
      </div>
    </div>
    <div class="box-parent">
      <div class="box-sentence">
        I will write articles with the motto of “easy-to-understand writing". I
        have no experience in article production, but I love to write. I will do
        my best in my own amateur way. Please look forward to it!
      </div>
      <div class="box">
        <div class="box-img2">
          <div class="box-img">
            <img
              src="{{ url_for('static', filename='ko_img.webp') }}"
              alt="profile-photo"
              class="writer-box"
              width="100%"
            />
          </div>
        </div>
        <div class="box-text">
          <h3>Suzu Komatsu</h3>
          <p>proofreader</p>
        </div>
      </div>
    </div>
    <div class="box-parent">
      <div class="box-sentence">
        Although I am still a novice, I would like to learn every day so that I
        can share with you the charm of the craftsmen of Ota Ward. Please look
        forward to the growth of the website as well as the stories of Ota Ward
        craftsmen.
      </div>
      <div class="box">
        <div class="box-img2">
          <div class="box-img">
            <img
              src="{{ url_for('static', filename='to_img.webp') }}"
              alt="profile-photo"
              class="writer-box"
              width="100%"
            />
          </div>
        </div>
        <div class="box-text">
          <h3>Sakura</h3>
          <p>web</p>
        </div>
      </div>
    </div>
    <div class="box-parent">
      <div class="box-sentence">
        With an interest in technology, including IT, I joined the project with
        the aim of spreading awareness about the "appeal of craftsmanship,"
        which is both the origin of scientific technology and is utilized at the
        cutting edge today.
      </div>
      <div class="box">
        <div class="box-img2">
          <div class="box-img">
            <img
              src="{{ url_for('static', filename='mi_img.webp') }}"
              alt="profile-photo"
              class="writer-box"
              width="100%"
            />
          </div>
        </div>
        <div class="box-text">
          <h3>Ryuki Miyoshi</h3>
          <p>web</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
