{% extends "layout_en.html" %} {% block title %} Craftman Story Vol.1 -Iwai
Factory {% endblock %} {% block home_photo %}{{ url_for('static',
filename='01iwai_01.webp') }}{% endblock %} {% block home_content %}
<h1 class="page-title1"><u>Vol.1</u></h1>
<h1 class="page-title2">Iwai Factory</h1>
{% endblock %}{% block main_content %}
<div class="article-title">
  <div class="title-page"><h2 class="title"></h2></div>
  <p class="article-date">The day of interviewing 10.31/07.30.2024</p>
  <p class="article-date">Last update 12.09.2024</p>
  <p class="title-content">　Hello!</p>
  <p class="title-content">
    　This is Craftman Story Vol. 1. We interviewed Iwai Factory. At this
    interview, we watched the work od Mr.Iwai and heard about his past works.
  </p>
</div>
<div class="img-background">
  <h3 class="border">The overview of Iwai Factory</h3>
  <div class="grid4">
    <p>
      　When we walk for five minutes from Keikyu-Kamata.st, we can see the old
      factory on the narrow residential street. This is
      <strong>Iwai Factory</strong>. Iwai Factory has run since prewar period.
      Mr.Iwai, which we interviewed, took over the factory from his parents and
      do the work of lathe machining for more than 50 years alone. He completed
      the work of processing parts of nuclear power plants and Tokaido bullet
      train. Now he has the work of processing the parts of hydraulic plants.
    </p>
    <img
      src="{{ url_for('static', filename='01iwai_02.webp') }}"
      width="100%"
    />
  </div>
</div>
<div class="img-background">
  <h3 class="border">Surprising points for the interviewing team!</h3>
  <div class="article-content2" style="text-align: left">
    <p>We have four surprising points at the interview of Iwai Factory.</p>
    <ol style="font-weight: bold">
      <a href="#factory"><li>Well used factory and lathe</li></a>
      <a href="#senban"><li>The great job of lathe machining</li></a>
      <a href="#tech"
        ><li>Mr.Iwai's high skill and works of lathe machining</li></a
      >
      <a href="#hitori"><li>Why does Mr.Iwai run the factory alone?</li></a>
    </ol>
  </div>
</div>
<div class="img-background" id="factory">
  <h3 class="border">Well used factory and lathe</h3>
  <div class="grid4">
    <div class="grid3">
      <img
        src="{{ url_for('static', filename='01iwai_03.webp') }}"
        width="100%"
      />
      <img
        src="{{ url_for('static', filename='01iwai_04.webp') }}"
        width="100%"
      />
    </div>
    <div>
      <p style="margin: 0">
        　First, we were surprised at
        <strong>the small space of the factory</strong>.Iwai Factory is the
        isolated two-storey house with Iwai family's home. In a room near the
        entrance, he works. In this room, various kinds of machines and tools
        take up space, so there is the small space that three or four students
        can enter barely.
      </p>
      <p class="photo_text" style="margin-top: 10px">
        photo#1 : The appearance of Iwai Factory
      </p>
      <p class="photo_text" style="margin-top: 10px">
        photo#2 : Inside the factory
      </p>
    </div>
  </div>

  <div class="grid4">
    <img
      src="{{ url_for('static', filename='01iwai_06.webp') }}"
      width="100%"
    />
    <div>
      <p style="margin: 0">
        　<strong>The lathe</strong> takes up space in the back of the room. It
        was manufactured by the manufacturer in Okayama, and it is the
        third-generation machine. It seems that it is well used. On the floor,
        there are much iron scrap that are generated when lathe machining. They
        emphasize an imposing appearance of the lathe. While we are surprised
        the unique atmosphere of the room because it smells like machining oil,
        Mr. Iwai stands in front of the lathe and he starts to handle it.
      </p>
      <p class="photo_text" style="margin-top: 10px">photo#3 : the lathe</p>
    </div>
  </div>
</div>
<div class="img-background" id="senban">
  <h3 class="border">The great job of lathe machining</h3>
  <p class="article-content2" style="text-align: left">
    　In this interview, Mr.Iwai showed us his work
    <strong>specially for us</strong> that he handled the lathe and processed
    the metal.If you watch the video below, you will feel his work is great, and
    you will be surprised that the hard metal is processed smoothly. We explain
    his work in detail below.
  </p>
  <p class="article-content2" style="text-align: left">
    <span class="photo_text"
      >(The explanation below is same as the movie above.)</span
    >
  </p>
  <div class="grid4">
    <img
      src="{{ url_for('static', filename='01iwai_07.webp') }}"
      width="100%"
    />
    <p style="margin: 0">
      　<strong>Lathe</strong> is a machine that rotates the metal fastly.
      <strong
        >If we put the knife on the metal that rotates fastly, we can process
        the metal.</strong
      >
      The big machine on the photo is the lathe. The metal that we indicate by
      the red square is the one that is processed. In his work, he digs a ditch
      on the metal.
    </p>
    <img
      src="{{ url_for('static', filename='01iwai_08.webp') }}"
      width="100%"
    />
    <div>
      <p style="margin: 0">
        　First, Mr.Iwai adjusts the position that he digs a ditch with the
        meter. Next, he pours the machining oil to slide the metal better. When
        he turns on the power of the lathe, the metal rotates quickly. Then,
        when Mr.Iwai adjusts the position of the knife with the dial,
        <strong>the metal starts to be shaven.</strong> The more he adjusts the
        dial, The deeplier the metal is shaven because the position of the knife
        is changed. the dial, and digs a ditch little by little. He turns off
        the lathe regularly and checks how deep the metal is shaven.
      </p>
      <p>
        　He repeats these processes. This work seems
        <strong>the same monotonous work over and over</strong>. It takes three
        days that he completes to process a metal.
      </p>
    </div>
    <img
      src="{{ url_for('static', filename='01iwai_09.webp') }}"
      width="100%"
    />
    <p style="margin: 0">
      Why doesn't he shave the metal all at once? It seems efficient that he
      shave it all at once, but he shaves it little by little
      <strong>because accuracy is required to his work</strong>. Lathe machining
      is suitable to accurate processes because it rotates the metal fastly, so
      we can shave the metal evenly. The metal, that Mr.Iwai processes in this
      work, is the part of water turbine and we put it with other parts
      acuurately, so accuracy is required to his work.
      <strong
        >On checking how accurately the metal is shaven, the craftsman's skill
        is required.</strong
      >
    </p>
    <img
      src="{{ url_for('static', filename='01iwai_10.webp') }}"
      width="100%"
    />
    <p style="margin: 0">
      The metal on the photo is in the middle of his work. We can find it is
      shaven more deeply than before.
    </p>
  </div>
</div>
<div class="img-background" id="tech">
  <h3 class="border">Mr.Iwai's high skill and works of lathe machining</h3>
  <div class="grid4">
    <img
      src="{{ url_for('static', filename='01iwai_11.webp') }}"
      width="100%"
    />
    <div>
      <ul style="margin: 0">
        <li><strong>原子力発電所</strong></li>
        <p>
          　岩井さんが受けた大きな仕事の最初は、<strong>原子力発電所のシリンダー製作</strong>に携わるものだった。
        </p>
        <p>
          　きっかけは、「原子炉を一緒に作りませんか？」と声をかけられたことだった。旧式の小さい機械で試作品を製作したところ、合格をもらい、本格的に旋盤による製作へと進んだ。技術に関しては、日本初の取り組みだったため誰も作り方を知らず、<strong>手探り</strong>で進めていた。
        </p>
        <p>
          　この仕事で最も大変だったのは、原子炉の制御棒に関する業務だった。制御棒は約100本あり、原子炉を停止させる際にはすべての制御棒を同時に上げ、同じ位置で止める必要がある。一本でも位置がずれると発熱のリスクがあるため、シリンダー製作には<strong>非常に高い精度</strong>が求められた。
        </p>
        <p>
          　現在、津波対策の改修をメインに行っており、原子炉設備を20メートル高くする作業を全国53か所一つひとつ進めている。
        </p>
      </ul>
    </div>
  </div>
  <ul class="article-content2">
    <li><strong>東海道新幹線</strong></li>
    <p>
      　原子力発電所の仕事で培った高い技術力が評価され、<strong>東海道新幹線のシリンダー部品製作</strong>の仕事も舞い込んできた。
    </p>
    <p>
      　岩井さんは<strong>300系から700系までの</strong>シリンダー製作に携わり、新幹線の運行に重要な役割を果たしている。特に、500系から700系への移行時には、<strong>岩井さんのシリンダー技術が活用</strong>され、東京から大阪間の所要時間を5分短縮することに成功した。この時間短縮により、列車を7本増発できるようになった。
    </p>
    <p>
      　現在は、700系を最後に新規のシリンダー製作からは撤退し、シリンダーの改修に取り組んでいる。
    </p>
  </ul>
  <p class="article-content2" style="text-align: left">
    　これらの仕事は、<strong>極めて高い精密さ</strong>が求められる。<strong>岩井さんの技術力の高さ、</strong>そして小さな町工場が日本の生活を支えていることを実感させられるエピソードである。
  </p>
</div>
<div class="img-background" id="hitori">
  <h3 class="border">Why does Mr.Iwai run the factory alone?</h3>
  <div class="article-content2" style="text-align: left">
    <p>
      　岩井さんは岩井製作所を継いで以来、ずっと<strong>一人で操業</strong>を続けている。その理由は、高い技術力を外部に漏らさないためだ。従業員を雇うと情報が広がるリスクがあるため、岩井製作所ならではの技術を守るために、規模を拡大せず一人で製作を続けているのだ。一人での操業を続ける中で、周囲から「もうやめたらどうか」と言われたこともあった。しかし、<strong>奥様の励ましに支えられ、</strong>今日まで事業を続けてきた。
    </p>
    <p>
      　夫婦で支え合いながら築いてきた岩井製作所だが、後継者がいないため、岩井さんの代で廃業する予定である。孫や息子はいるものの、若い世代は大学に進学するなどして原子炉関連の仕事に興味を示さない。さらに、蒲田駅周辺が住宅地化しているため、仮に事業を続けるとしても工場の移転が必要になる。
    </p>
    <p>
      　このような技術を次世代がどのように扱っていくのか。それが今後のカギとなるだろう。
    </p>
  </div>
</div>
<div class="img-background">
  <h3 class="border">あとがき</h3>
  <div class="article-content2" style="text-align: left">
    <p>
      　我々取材班にとって初めての現地取材が終わった。かかった時間は2時間弱とさほど長くなかったが、<strong>とても濃密なもの</strong>だった。旋盤に出会うまでの紆余曲折、原発事業や新幹線開発の舞台裏、そして工場の現在と将来。インタビューを通して岩井さんから伺ったエピソードの数々は、戦後日本が歩んできた歴史そのものだ。我々が教科書を読んで知るような出来事を、岩井さんは当事者として目の当たりにしてきた。その過去を踏まえると、旋盤加工のひとつひとつの工程にも<strong>高度な技術</strong>が潜んでいるのに気付かされる。一度のミスも許されない作業を当たり前のようにこなす姿には、<strong>並々ならぬ職人魂</strong>を感じた。
    </p>
    <p>
      　別れ際に岩井さんはこうおっしゃった。「君たちは本当に若いんだから、これからの日本を支えていかなくちゃね。」我が国を半世紀も支えてきた<strong>”縁の下の力持ち”</strong>の一言は、ずっしりと重かった。蒲田の街角の小さな工場には、幾つもの年月をかけて積み上げた<strong>たくさんの秘密とロマン</strong>が詰まっていた。
    </p>
  </div>
</div>
<div class="img-background">
  <h3 class="border">メンバー紹介</h3>
  <div class="box-area">
    <div class="box">
      <div class="box-img2">
        <div class="box-img">
          <img
            src="{{ url_for('static', filename='no_img.webp') }}"
            alt="個人の画像"
            class="writer-box"
            width="100%"
          />
        </div>
      </div>
      <div class="box-text">
        <h3>野口 遼介</h3>
        <p>取材・執筆担当</p>
      </div>
    </div>
    <div class="box">
      <div class="box-img2">
        <div class="box-img">
          <img
            src="{{ url_for('static', filename='yo_img.webp') }}"
            alt="個人の画像"
            class="writer-box"
            width="100%"
          />
        </div>
      </div>
      <div class="box-text">
        <h3>吉永 彩乃</h3>
        <p>取材・執筆担当</p>
      </div>
    </div>
    <div class="box">
      <div class="box-img2">
        <div class="box-img">
          <img
            src="{{ url_for('static', filename='ki_img.webp') }}"
            alt="個人の画像"
            class="writer-box"
            width="100%"
          />
        </div>
      </div>
      <div class="box-text">
        <h3>木南 知也</h3>
        <p>取材・執筆・web・動画制作担当</p>
      </div>
    </div>
    <div class="box">
      <div class="box-img2">
        <div class="box-img">
          <img
            src="{{ url_for('static', filename='ko_img.webp') }}"
            alt="個人の画像"
            class="writer-box"
            width="100%"
          />
        </div>
      </div>
      <div class="box-text">
        <h3>小松 すず</h3>
        <p>校正担当</p>
      </div>
    </div>
    <div class="box">
      <div class="box-img2">
        <div class="box-img">
          <img
            src="{{ url_for('static', filename='to_img.webp') }}"
            alt="個人の画像"
            class="writer-box"
            width="100%"
          />
        </div>
      </div>
      <div class="box-text">
        <h3>徳丸 さくら</h3>
        <p>web担当</p>
      </div>
    </div>
    <div class="box">
      <div class="box-img2">
        <div class="box-img">
          <img
            src="{{ url_for('static', filename='mi_img.webp') }}"
            alt="個人の画像"
            class="writer-box"
            width="100%"
          />
        </div>
      </div>
      <div class="box-text">
        <h3>三好 琉希</h3>
        <p>web担当</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
