{% extends "layout_en.html" %} {% block title %} Craftman Story Vol.3 -Tamagawa
Pipe {% endblock %} {% block home_photo %}{{ url_for('static',
filename='03tamagawa_01.webp') }}{% endblock %} {% block home_content %}
<h1 class="page-title1"><u>Vol.3</u></h1>
<h1 class="page-title2">Tamagawa Pipe</h1>
{% endblock %}{% block main_content %}
<div class="article-title">
  <div class="title-page"><h2 class="title"></h2></div>
  <p class="article-date">The day of interviewing 11.13.2024</p>
  <p class="article-date">Last update 1.??.2025</p>
  <p class="title-content">　Hello!</p>
  <p class="title-content">
    　Hello! This is Craftman Story Vol.3. We visited Tamagawa Pipe. During our
    interview of Tamagawa Pipe, we were able to observe their drawn steel pipe
    operations and hear from CEO Tamagawa.
  </p>
</div>
<div class="img-background">
  <h3 class="border">The overview of Tamagawa Pipe</h3>
  <div class="grid4">
    <div>
      <p>
        　<strong>Tamagawa Pipe</strong> is located one stop from Keikyu Kamata
        Station, a 10-minute walk from Zoshiki Station. It is situated along a
        metropolitan road lined with apartment buildings and traditional
        factories. Founded in 1959, the company is now led by CEO Tamagawa, the
        fourth-generation owner who inherited the factory from his predecessor.
        The company is good at <strong>"drawn steel pipes"</strong>, processing
        iron pipes manufactured by major manufacturers into special sizes, with
        about 10 skilled craftsmen showcasing their expertise.
      </p>
      <p>
        Tamagawa Pipe Website :
        <a href="https://tamagawa-pipe.com/">https://tamagawa-pipe.com/</a>
      </p>
      <p class="photo_text" style="margin-top: 10px">
        photo#1 : Inside the factory
      </p>
    </div>
    <img
      src="{{ url_for('static', filename='03tamagawa_02.webp') }}"
      width="100%"
    />
  </div>
</div>
<div class="img-background">
  <h3 class="border">What is drawn steel pipes?</h3>
  <p class="article-content2" style="text-align: left">
    　We interviewed the craftmen did the work of drawn steel pipes. In the
    video below, we introduce the work, so please watch the video below.
  </p>
  <p class="article-content2" style="text-align: left">
    <span class="photo_text"
      >(The explanation below is same as the video above.)</span
    >
  </p>
  <div class="grid4">
    <img
      src="{{ url_for('static', filename='03tamagawa_10.webp') }}"
      width="100%"
    />
    <div>
      <p style="margin: 0">
        　<strong>A drawn steel pipe</strong> is a processing method that allows
        steel pipes to be stretched and their diameter to be freely adjusted.
        Typically, major manufacturers produce pipes in specific sizes based on
        set standards. By using drawn steel pipes, these pipes can be adjusted
        to precise sizes according to their intended use.
      </p>
      <p>
        　Tamagawa Pipe's drawn steel pipe process consists of four major steps:
        <strong
          >tip preparation, annealing, pickling/lubrication, and drawing</strong
        >.
      </p>
    </div>
    <img
      src="{{ url_for('static', filename='03tamagawa_11.webp') }}"
      width="100%"
    />
    <div>
      <p style="margin: 0">
        　First is <strong>tip preparation</strong>. This process involves
        adjusting the diameter of only the pipe's tip. The tip is heated in a
        furnace to soften the pipe, then passed through a die of predetermined
        size to adjust its diameter. Since each pipe has its own
        characteristics, determining the appropriate heating time
        <strong
          >by observing the pipe's color is where craftsmen demonstrate their
          expertise</strong
        >.
      </p>
    </div>
    <img
      src="{{ url_for('static', filename='03tamagawa_12.webp') }}"
      width="100%"
    />
    <div>
      <p style="margin: 0">
        　Next is <strong>annealing</strong>. In this process, the entire pipe
        is heated to high temperatures to facilitate the subsequent drawing
        process.
      </p>
      <p>
        　Then comes <strong>pickling and lubrication</strong>. The black soot
        (scale) that adheres during the annealing process is removed with an
        acidic solution and neutralized with an alkaline solution. Afterward,
        lubricating oil is applied to the entire pipe in preparation for the
        drawing process.
      </p>
    </div>

    <img
      src="{{ url_for('static', filename='03tamagawa_13.webp') }}"
      width="100%"
    />
    <div>
      <p style="margin: 0">
        　Finally, there's the <strong>drawing process</strong>. Using the
        adjusted tip as an anchor point, the pipe is pulled through a die in one
        swift mechanical operation. This creates a pipe with uniform diameter
        throughout. Due to
        <strong>the high level of technical skill</strong> required, this task
        is handled by experienced craftsmen.
      </p>
      <p>
        　These diameter-adjusted pipes are then welded and processed at other
        local factories in Ota Ward, ultimately becoming various products,
        including parts for heavy machinery such as cranes.
      </p>
      <p>
        　Tamagawa Pipe carries
        <strong>an important role as an intermediate processor</strong>, working
        in cooperation with major manufacturers and neighboring factories.
      </p>
    </div>
  </div>
</div>
<div class="img-background">
  <h3 class="border">Surprising points for the interviewing team!</h3>
  <div class="article-content2" style="text-align: left">
    <p>We have four surprising points at the interview of Tamagawa Pipe.</p>
    <ol style="font-weight: bold">
      <a href="#strength"><li>Tamagawa Pipe's strengths</li></a>
      <a href="#sampou"
        ><li>Business philosophy (Benefits for all three parties)</li></a
      >
      <a href="#tech"><li>Business philosophy (Proactive communication)</li></a>
      <a href="#career"><li>Ensuring what can be done</li></a>
    </ol>
  </div>
</div>
<div class="img-background" id="strength">
  <h3 class="border">Tamagawa Pipe's strengths</h3>
  <div class="grid4">
    <img
      src="{{ url_for('static', filename='03tamagawa_07.webp') }}"
      width="100%"
    />
    <div>
      <p style="margin: 0">
        　Tamagawa Pipe's strength lies in
        <strong
          >its flexible manufacturing system, made possible precisely because of
          its small scale</strong
        >. Leveraging this flexibility, Tamagawa Pipe is working on developing
        <strong>multi-layer structural materials</strong>. These materials
        combine multiple metals - the photo shows an example combining iron and
        copper. Iron has the characteristics of being low-cost and easy to
        process, while copper has excellent electrical conductivity. Multi-layer
        structural materials can take advantage of both these benefits. These
        multi-layer materials are being used in Linear Shinkansen tunnels. While
        tunnels require grounding equipment to discharge electricity, they also
        need to connect multiple pipes, demanding both processability and
        conductivity. Multi-layer structural materials that meet these
        requirements are the optimal choice.
      </p>
      <p class="photo_text" style="margin-top: 10px">
        photo#6 : multi-layer structural materials
      </p>
    </div>
  </div>
</div>
<div class="img-background" id="sampou">
  <h3 class="border">Business philosophy (Benefits for all three parties)</h3>
  <div class="article-content2" style="text-align: left">
    <p>
      　CEO Tamagawa emphasized that the most important thing in work is to
      build a <strong>“three-way satisfaction”</strong> relationship where
      customers, partners, and ourselves all benefit. “It’s important to value
      our customers, but it’s even more important to value our partners,” he
      said. CEO Tamagawa learned from his predecessor that it is the partners
      who add value to what we create, and if we do not value them, we will lose
      our work.
    </p>
    <p>
      　The impression interviewing team had was that the small factories in Ota
      Ward cooperate with each other, sharing the work they can do and
      supporting each other, and CEO Tamagawa’s story perfectly aligns with
      this.
    </p>
    <p>
      　For example, while Tamagawa Pipe excels in processing steel pipes, they
      also collaborate with other companies to meet various customer needs for
      different materials, such as aluminum pipes.
    </p>
    <p>
      　<strong> Utilizing the Ota Ward small factory network</strong>, Tamagawa
      Pipe continues to operate today.
    </p>
  </div>
</div>

<div class="img-background" id="tech">
  <h3 class="border">Business philosophy (Proactive communication)</h3>
  <div class="grid4">
    <img
      src="{{ url_for('static', filename='03tamagawa_08.webp') }}"
      width="100%"
    />
    <div>
      <p>
        　Tamagawa Pipe actively <strong>disseminates information</strong>. CEO
        Tamagawa believes that simply possessing technology is not enough; it
        must be shared. He undertakes various initiatives to do so. For example,
        he placed a sample of a multi-layered material made of metal pipes and
        wood, which he thought would be interesting, at a customer’s company.
        This led to a discussion about creating a new multi-layered material.
        Additionally, Tamagawa Pipe participates in activities such as
        exhibiting at Techno Frontier and other exhibitions organized by the Ota
        Ward Industrial Promotion Association.
      </p>
      <p class="photo_text" style="margin-top: 10px">
        photo#7 : The booth of Tamagawa Pipe at Techno Frontier
      </p>
    </div>
  </div>
</div>
<div class="img-background" id="career">
  <h3 class="border">Ensuring what can be done</h3>
  <div class="grid4">
    <img
      src="{{ url_for('static', filename='03tamagawa_09.webp') }}"
      width="100%"
    />
    <div>
      <p>
        　CEO Tamagawa’s previous job was in sales at INAX (now LIXIL). He did
        not initially plan to take over Tamagawa Pipe, which was run by his
        predecessor, his father. However, hearing from various people about the
        excellence of manufacturing technology in Ota Ward, he became interested
        and decided to take over the family business, a small factory. Without
        knowing much about the work his predecessor did, and with almost no
        knowledge, he started working at the factory for about a year
        <strong>before focusing solely on management</strong>. His policy is
        that rather than having multi-skilled personnel, it is better to
        delegate tasks to those who excel in them, which also helps in nurturing
        successors.
      </p>
      <p class="photo_text" style="margin-top: 10px">photo#8 : CEO Tamagawa</p>
    </div>
  </div>
  <div class="article-content2" style="text-align: left">
    <p>
      　The late predecessor was against CEO Tamagawa taking over the factory
      and intended to close it down in his generation. CEO Tamagawa had no
      intention of taking over when he was young. However, after moving out of
      Tokyo and working in another prefecture, he became interested in Ota Ward
      and the work his father was doing. This led him to decide, “You only live
      once, so do what you want to do,” and he took over the factory.
    </p>
    <p>
      　Seeing the surrounding factories being replaced by apartments and
      houses, CEO Tamagawa felt it was a waste. He expressed his desire
      <strong
        >to revitalize Ota Ward and become a presence that could bring work from
        outside to Ota Ward and connect it to the future</strong
      >.
    </p>
  </div>
</div>

<div class="img-background">
  <h3 class="border">Member Introduction</h3>
  <div class="box-area">
    <div class="box-parent">
      <div class="box-sentence">
        I will write articles with the motto of “easy-to-understand writing". I
        have no experience in article production, but I love to write. I will do
        my best in my own amateur way. Please look forward to it!
      </div>
      <div class="box">
        <div class="box-img2">
          <div class="box-img">
            <img
              src="{{ url_for('static', filename='ko_img.webp') }}"
              alt="profile-photo"
              class="writer-box"
              width="100%"
            />
          </div>
        </div>
        <div class="box-text">
          <h3>Suzu Komatsu</h3>
          <p>interviewer / writer</p>
        </div>
      </div>
    </div>
    <div class="box-parent">
      <div class="box-sentence">
        I love web creating and factory tour. I'll do my best to deliver the
        fascinating craftmen's jobs in town factories in Ota Ward through this
        website!
      </div>
      <div class="box">
        <div class="box-img2">
          <div class="box-img">
            <img
              src="{{ url_for('static', filename='ki_img.webp') }}"
              alt="profile-photo"
              class="writer-box"
              width="100%"
            />
          </div>
        </div>
        <div class="box-text">
          <h3>Tomoya Kinami</h3>
          <p>interviewer / writer / web / video</p>
        </div>
      </div>
    </div>
    <div class="box-parent">
      <div class="box-sentence">
        I participate as an advisor for interviews and article writing. I strive
        to design interviews and write articles that clearly convey the essence
        of artisans' lives and skills in an authentic and accessible way for
        readers.
      </div>
      <div class="box">
        <div class="box-img2">
          <div class="box-img">
            <img
              src="{{ url_for('static', filename='u_img.webp') }}"
              alt="profile-photo"
              class="writer-box"
              width="100%"
            />
          </div>
        </div>
        <div class="box-text">
          <h3>Dai Uehara</h3>
          <p>proofreader</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
