{% extends "layout_en.html" %} {% block title %}Craftman Story Vol.0 -Craftman Story Club starts!!!{% endblock %} {% block home_photo %}{{ url_for('static',
filename='Vol0_title_image.jpeg') }}{% endblock %} {% block home_content %}
<h1 class="page-title1"><u>Vol.0</u></h1>
<h1 class="page-title2">Craftman Story club starts!!!</h1>
{% endblock %}{% block main_content %}
<div class="article-title">
  <div class="title-page"><h2 class="title"></h2></div>
  <p class="article-date">Last update 09.11.2024</p>
  <p class="title-content">　Hello！</p>
  <p class="title-content">
    　Craftman Story
    This is Craftman Story Vol. 0.This is a preparatory issue, so to speak, introducing our activities and members.It is also a statement of determination that this is what we are going to do from now on.
  </p>
</div>
<div class="img-background">
  <h2 class="border">What is the Craftman Story?</h2>
  <div class="article-content">
    <p>
      　This is a project of <b>Tokyo University of Science IDM </b>focusing on <b>engineers and craftsmen of Ota Ward town factories</b>.The goal of this project is to promote the craftsmen of Ota Ward's factories to the world through <b>student-led interviews</b>,<b> website articles</b>,<b> and video production</b>.
    </p>
  </div>
</div>
<div class="img-background">
  <h3 class="border">Member Introduction</h3>
  <div class="article-writer">
    <span class="writer1"><span class="group-writer"> Writers Team</span></span>

    <p class="writer-name">Suzu Komatsu</p>
        <p>
            　I will write articles with the motto of “easy-to-understand writing". I have no experience in article production, but I love to write. I will do my best in my own amateur way. Please look forward to it!
        </p>

        <p class="writer-name">Ryosuke Noguchi</p>
        <p>　I am a second-year student at the Tokyo University of Science, Department of International Design and Management.</p>
        <p>
            　I am interested in working as a writer and joined this project. I hope to convey to you the emotion of my favorite downtown area of Tokyo in the form of reporting of a town factory!
        </p>

    <span class="writer1"><span class="group-writer"> web班</span></span>

    <p class="writer-name">Sakura Tokumaru</p>
        <p>　I mainly do web production. This is my first web production for this site.</p>
        <p>
            　Although I am still a novice, I would like to learn every day so that I can share with you the charm of the craftsmen of Ota Ward. 
            Please look forward to the growth of the website as well as the stories of Ota Ward craftsmen.
        </p>
        <p style="padding-top: 30px; border-top: dashed 4px grey">
          　<b>Articles </b>will be written <b>mainly by members of the above-mentioned writer team</b>, while <b>web design and technical aspects </b>will be handled <b>by the web team</b>. As the number of students who want to become writers increases, so does this item. We are updating this page as needed.
          We also have other <b>members of the video team</b>, and we will introduce them at another time.
        </p>

        <p>
            　This project, as mentioned above, revolves primarily around <b>students</b>. We are determined to deliver the best we can, and <b>we hope you will warmly watch over us</b>.
        </p>
  </div>
</div>
{% endblock %}
