{% extends "layout.html" %} {% block title %} Craftman Story {% endblock %} {%
block home_photo %}{{ url_for('static', filename='home_photo.webp') }}{%
endblock %} {% block home_content %}
<h1 class="page-title1">今日も大田区の町工場は、</h1>
<h1 class="page-title2">物語で溢れている</h1>
{% endblock %}{% block main_content %}
<div id="top" class="background">
  <h3 class="border">What's New</h3>
  <div class="grid3">
    <div>
      <a href="/vol/1" style="text-decoration: none">
        <div class="what_new_box" style="border-left: solid 10px #45b76f">
          <div
            class="what_new_box_anim non_observed"
            style="background-color: #45b76f"
          ></div>
          <div class="what_new_box_main non_observed2">
            <p style="margin: 10px; margin-bottom: 5px">
              <span class="new-badge">New!</span>2024-12-11
            </p>
            <h3 style="margin: 10px; margin-top: 0">
              岩井製作所の記事を公開しました!!!
            </h3>
          </div>
        </div>
      </a>
    </div>
    <div>
      <a href="/vol/0" style="text-decoration: none">
        <div class="what_new_box" style="border-left: solid 10px #4f96f6">
          <div
            class="what_new_box_anim non_observed"
            style="background-color: #4f96f6"
          ></div>
          <div class="what_new_box_main non_observed2">
            <p style="margin: 10px; margin-bottom: 5px">2024-09-11</p>
            <h3 style="margin: 10px; margin-top: 0">
              Craftman Story部 始動しました!!!
            </h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="liner">
  <div style="position: relative; flex-grow: 1">
    <div class="liner5 horizontal_non_observed"></div>
  </div>
  <div
    class="article-intro"
    style="position: relative; padding: 10px; flex-grow: 0"
  >
    Craftman Story
    <div class="liner1 horizontal_non_observed"></div>
    <div class="liner2 vertical_non_observed"></div>
    <div class="liner3 horizontal_non_observed"></div>
    <div class="liner4 vertical_non_observed"></div>
  </div>
  <div style="position: relative; flex-grow: 1">
    <div class="liner6 horizontal_non_observed"></div>
  </div>
</div>
<div style="margin: 30px">
  <p class="black_border" style="margin-top: 30px">
    各記事のボックスを押下することで、各記事ページに遷移します。
  </p>
  <div class="grid3" style="margin-top: 30px">
    <a href="/vol/0" style="text-decoration: none; color: black">
      <div class="cs_card" style="border-right: solid 10px red">
        <img
          src="{{ url_for('static', filename='Vol0_title_image.webp') }}"
          style="min-height: 100%; max-width: 100%; object-fit: cover"
          alt="ペンと紙"
        />
        <div style="position: relative">
          <div class="cs_card_anim" style="background-color: red"></div>
          <div class="cs_card_main non_observed2">
            <div class="cs_card_back"></div>
            <p style="margin: 0; text-align: right">2024-09-11</p>
            <h3 class="cs_border" style="margin: 0"><u> Vol.0</u></h3>
            <p><u>Craftman Story部始動!!!</u></p>
          </div>
        </div>
      </div></a
    ><a href="/vol/1" style="text-decoration: none; color: black">
      <div class="cs_card" style="border-right: solid 10px #4f96f6">
        <img
          src="{{ url_for('static', filename='01iwai_01.webp') }}"
          style="min-height: 100%; max-width: 100%; object-fit: cover"
          alt="岩井さんご夫婦"
        />
        <div style="position: relative">
          <div class="cs_card_anim" style="background-color: #4f96f6"></div>
          <div class="cs_card_main non_observed2">
            <div class="cs_card_back"></div>
            <p style="margin: 0; text-align: right">2024-12-11</p>
            <h3 class="cs_border" style="margin: 0"><u> Vol.1</u></h3>
            <p><u>岩井製作所</u></p>
          </div>
        </div>
      </div></a
    >
    <a href="/vol/2" style="text-decoration: none; color: black">
      <div class="cs_card" style="border-right: solid 10px #4f96f6">
        <img
          src="{{ url_for('static', filename='02aoiseira01.webp') }}"
          style="min-height: 100%; max-width: 100%; object-fit: cover"
          alt="葵精螺製作所"
        />
        <!-- filename=''の箇所に画像を入れる -->
        <div style="position: relative">
          <div class="cs_card_anim" style="background-color: #4f96f6"></div>
          <div class="cs_card_main non_observed2">
            <div class="cs_card_back"></div>
            <p style="margin: 0; text-align: right">2025-01-??</p>
            <!-- 日付変更する -->
            <h3 class="cs_border" style="margin: 0"><u> Vol.2</u></h3>
            <p><u>葵精螺製作所</u></p>
          </div>
        </div>
      </div></a
    >

  </div>
</div>
<div class="img-background">
  <div class="introduction-website">
    <h3 class="border" style="margin-bottom: 10px">Craftman Story とは?</h3>
    <div class="grid3" style="margin: 30px; margin-top: 0; margin-bottom: 0">
      <div class="grid2" style="justify-items: center">
        <div class="grid2_left">
          <img
            src="{{ url_for('static', filename='pio_ota_logo2.webp')}}"
            style="height: 60px; padding-right: 10px"
          />
          <p style="margin: 0; font-weight: bold; color: #640a0a">
            大田区の町工場
          </p>
        </div>
        <h2 style="justify-self: center; margin: 0; align-self: center">×</h2>
        <div class="grid2_right">
          <img
            src="https://kinami-mori-koyama.com/IDM.webp"
            style="height: 60px; padding-right: 10px"
          />
          <p style="margin: 0; font-weight: bold; color: #008cff">
            東京理科大国際デザイン経営学科
          </p>
        </div>
      </div>

      <div>
        <p>
          　<span style="font-weight: bold">Craftman Storyプロジェクト</span>
          とは、<span style="color: #640a0a; font-weight: bold"
            >大田区の町工場の方々</span
          >と、<a href="https://www.tus.ac.jp/idm/" style="font-weight: bold"
            >東京理科大国際デザイン経営学科(通称IDM)</a
          ><span style="color: #008cff; font-weight: bold"
            >に所属する有志の学生</span
          >により行われるプロジェクトです。
        </p>
        <p>
          　大田区には日本を支える技術を持ったものづくり職人の方々がいます。
          <span style="font-weight: bold">Craftman Storyプロジェクト</span
          >では、大田区のものづくり職人一人一人に焦点を当てて、<span
            style="font-weight: bold"
            >学生が町工場の取材</span
          >をさせていただき、それをもとに<span style="font-weight: bold"
            >学生が制作した</span
          >記事と動画を当サイトを通じて公開していきます。
        </p>
        <p style="margin-bottom: 0">
          　<span style="color: #640a0a; font-weight: bold">大田区の町工場</span
          >×<span style="color: #008cff; font-weight: bold"
            >東京理科大学国際デザイン経営学科</span
          >
          で世界中に大田区ものづくり職人の魅力を伝えていきます。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="img-background">
  <div id="intro-content" class="content-img">
    <h3 class="border">大田区町工場 とは?</h3>
    <div class="introduction-content grid3">
      <img
        src="{{ url_for('static', filename='01iwai_06.webp') }}"
        alt="岩井製作所の旋盤加工の様子"
        width="100%"
      />
      <div>
        <p>
          　大田区の町工場はご存知でしょうか。
          日本を支える技術を持つものづくり職人が大田区の町工場には集まっています。
        </p>
        <p>
          　例えば、私たちが見学させていただいた町工場、岩井製作所では、岩井さん<span
            style="font-weight: bold"
            >たった1人で50年間も小さな工場で</span
          >シリンダーを製造されてきました。岩井製作所のシリンダーは、その<span
            style="font-weight: bold"
            >高い技術</span
          >から500系700系東海道新幹線の車両の一部品として使用され、私たちの移動をサポートしています。
        </p>
        <p>
          　このように、大田区には、<span style="font-weight: bold"
            >規模が小さいながらもその高い技術</span
          >で私たちの暮らしを支えている、町工場・職人さんが多くいらっしゃいます。
        </p>
        <p>　写真: 岩井製作所の旋盤加工の様子</p>
      </div>
    </div>
  </div>
</div>
<div class="img-background">
  <div id="intro-content" class="content-img">
    <h3 class="border">Special Thanks</h3>
    <p style="margin-left: 30px; margin-right: 30px" class="black_border">
      運営にあたっては、以下の団体にご協力いただいております。ご協力ありがとうございます!!!
    </p>
    <div
      class="grid3"
      style="margin: 30px; margin-left: 30px; margin-right: 30px"
    >
      <div class="special_thanks">
        <img
          src="{{ url_for('static', filename='pio_ota_logo2.webp')}}"
          width="100%"
          style="border-radius: 10px"
        />
        <div style="padding: 5px; padding-top: 10px">
          <h4 style="margin: 0">
            <u>大田区産業振興協会</u>
          </h4>
          <p style="margin: 0">
            大田区の町工場の産業支援等を行っている団体です。当サイト運営にあたっては、各町工場への取材の取次等、バックアップをしていただいています。
          </p>
          <p>
            URL:
            <a href="https://www.pio-ota.jp/">https://www.pio-ota.jp/</a>
          </p>
        </div>
      </div>
      <div class="special_thanks">
        <img src="https://kinami-mori-koyama.com/digital2.webp" width="100%" />
        <div style="padding: 5px; padding-top: 10px">
          <h4 style="margin: 0; word-break: keep-all">
            <u>東京理科大学 経営学部 国際デザイン経営学科 デジタル部</u>
          </h4>
          <p style="margin: 0">
            当プロジェクトと同様IDMのサークルです。プログラミングやデジタルに関する論文の読書会を行っています。当サイト運営にあたっては、サーバーのリソースの提供、記事制作の支援をしています。
          </p>
          <p>
            URL:
            <a href="https://kinami-mori-koyama.com/"
              >https://kinami-mori-koyama.com/</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
